# =========================
# Data
# =========================
data/*
!data/README.md

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Ambiente virtual
# =========================
venv/
.env/

# =========================
# System
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# local / tests
# =========================
*.db
*2.py
*.txt
!requirements.txt